<nav class="navbar stycky-top navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      Hair Manager
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#itens">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="itens">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Registre-se</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
