<nav class="navbar stycky-top navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      Hair Manager
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#itens">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse" id="itens">
      <app-menu-login></app-menu-login>

      <div class="dropdown flex-grow-1">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Funcionário
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['/funcionario/adicionar']">Adicionar</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>