.img-cover {
  background-image: url('../../../assets/images/fotoHairMenu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.full-height {
  min-height: 75vh;
}
