<div class="container main-container">
    <h1>Detalhes do Funcionario</h1>
    <hr>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                <label class="control-label">Nome</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.nome}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Telefone</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.telefone}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Data Nascimento</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.dataNascimento | date:'dd/MM/yyyy'}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Nacionalidade</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.nacionalidade}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Número CTPS</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.ctpsNumero}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Série CTPS</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.ctpsSerie}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">CPF</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.cpf}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">RG</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.rg}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">PIS</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.pis}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Reservista</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.reservista}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Cargo</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.cargo}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Salário</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.salario | currency}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Estado Civil</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.estadoCivil}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Data Admissão</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.dataAdmissao | date:'dd/MM/yyyy'}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Data Demissão</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.dataDemissao | date:'dd/MM/yyyy'}}
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Status</label>
            </dt>
            <dd class="col-sm-4">
                {{funcionario.statusFuncionario}}
            </dd>
        </dl>
    </div>
    <h1>Endereço</h1>
    <dl class="row">
        <dt class="col-sm-2">
            <label class="control-label">Rua</label>
        </dt>
        <dd class="col-sm-4">
            {{funcionario.endereco.rua}}
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">Numero</label>
        </dt>
        <dd class="col-sm-4">
            {{funcionario.endereco.numero}}
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">Complemento</label>
        </dt>
        <dd class="col-sm-4">
            {{funcionario.endereco.complemento}}
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">Bairro</label>
        </dt>
        <dd class="col-sm-4">
            {{funcionario.endereco.bairro}}
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">Cidade</label>
        </dt>
        <dd class="col-sm-4">
            {{funcionario.endereco.cidade}}
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">Estado</label>
        </dt>
        <dd class="col-sm-4">
            {{funcionario.endereco.estado}}
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">País</label>
        </dt>
        <dd class="col-sm-4">
            {{funcionario.endereco.pais}}
        </dd>
    </dl>
    <hr>
    <div>
        <a class="btn btn-dark" [routerLink]="['/home']">Editar</a>&nbsp;
        <a class="btn btn-info" [routerLink]="['/funcionario/dash-funcionarios']">Voltar</a>
    </div>
</div>