<div class="container main-container">
    <h1>Detalhes do Funcionario</h1>
    <hr>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                <label class="control-label">Nome</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.Nome
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Telefone</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.Telefone
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Data Nascimento</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.DataNascimento
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Nacionalidade</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.Nacionalidade
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Número CTPS</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.NumeroCTPS
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Série CTPS</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.SerieCTPS
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">CPF</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.CPF
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">RG</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.RG
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">PIS</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.PIS
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Reservista</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.Reservista
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Cargo</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.Cargo
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Salário</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.Salario
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Estado Civil</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.EstadoCivil
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Data Admissão</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.DataAdmissao
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Data Demissão</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.DataDemissao
            </dd>

            <dt class="col-sm-2">
                <label class="control-label">Status</label>
            </dt>
            <dd class="col-sm-4">
                Funcionario.Status
            </dd>
        </dl>
    </div>
    <h1>Endereço</h1>
    <dl class="row">
        <dt class="col-sm-2">
            <label class="control-label">Rua</label>
        </dt>
        <dd class="col-sm-4">
            Funcionario.Endereco.Rua
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">Numero</label>
        </dt>
        <dd class="col-sm-4">
            Funcionario.Endereco.Numero
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">Complemento</label>
        </dt>
        <dd class="col-sm-4">
            Funcionario.Endereco.Complemento
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">Bairro</label>
        </dt>
        <dd class="col-sm-4">
            Funcionario.Endereco.Bairro
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">Cidade</label>
        </dt>
        <dd class="col-sm-4">
            Funcionario.Endereco.Cidade
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">Estado</label>
        </dt>
        <dd class="col-sm-4">
            Funcionario.Endereco.Estado
        </dd>

        <dt class="col-sm-2">
            <label class="control-label">País</label>
        </dt>
        <dd class="col-sm-4">
            Funcionario.Endereco.País
        </dd>
    </dl>
    <hr>
    <div>
        <a class="btn btn-dark" [routerLink]="['/home']">Editar</a>&nbsp;
        <a class="btn btn-info" [routerLink]="['/funcionario/dash-funcionarios']">Voltar</a>
    </div>
</div>